@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.navbarContainer {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1000;
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.navbarButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1cm;
}

.navbarButton {
  background-color: #c1d3e7;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.navbarButton:hover {
  background-color: #88b9ee;
}

.navbarButtonUserContainer {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 2cm;
}

.navbarButtonUser {
  background-color: transparent;
  text-shadow: 1px 1px 2px black;
  color: rgb(189, 182, 182);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  width: 200px;
  font-family: "Patrick Hand";
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.navbarButtonUser:hover {
  background-color: #76d38c;
}

.projectlist-container {
  position: relative;
  display: inline-block;
}

.projectlist-ul, .invitePlayer-ul {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0;
  padding-left: 0;
  border-radius: 5px;
}
.projectlist-li, .invitePlayer-li {
  margin-left: 0;
  color: black;
  padding: 12px /* 16px */;
  text-decoration: none;
  display: block;
}

.projectlist-li:hover {
  background-color: #dddddd;
  border-radius: 5px;
}

.projectlist-container:hover .projectlist-ul  {
  display: block;
}

.invitePlayer-li:hover {
  background-color: #dddddd;
  border-radius: 5px;
}
.projectlist-container:hover .invitePlayer-ul  {
  display: block;
}

.invitePlayer-li input{
  border: none;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.invitePlayer-li button{
  right: auto;
  margin-top: 5px;
  background-color: #c1d3e7;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;
  border: none;
  
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.invitePlayer-li button:hover {
  background-color: #63a4eb;
}
.projectlist-li button{
  right: auto;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #c1d3e7;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.projectlist-li button:hover {
  background-color: #63a4eb;
}
.projectlist-li input{
  border: none;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.projectlist-li input:hover{
  background-color: #fafafae8;

}
.btn-container{
  display: flex;
  flex-direction: row;
}


