html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.homeHeader {
  display: flex;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: rgb(167, 231, 167);
  text-shadow: 2px 2px 2px black;
}


.homeContainer {
  background-image: url("/background_planingpoker.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
