.issueListItem{
    background-color: rgba(233, 61, 9, 0.2);;
    border-radius: 30px;
    padding: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px;
    margin-right: 10px;

}
.issueList{
   
    list-style-type: none;
    padding:0;
}
.issueListContainer{
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    width: 300px; 
    background-color: rgba(133, 241, 70, 0.3);
    overflow-y: auto; 
}