.poker-table {
  text-align: center;
  width: 800px;
  height: auto;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgb(60, 158, 3, 0.8);
}
.playerlist {
  list-style: none;
  font-size: 24px;
}
.poker-table h1,
ul,
h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  list-style: none;
}
.Voteknapp {
  /* display: flex;
  margin-left: 400px;
  border-radius: 20px; */

  appearance: button;
  backface-visibility: hidden;
  background-color: #4d68ff;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  margin-left: 40px;
}

.Voteknapp:disabled {
  cursor: default;
}

.Voteknapp:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.playercard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Mellanrum mellan knapparna */
  padding: 20px; /* Justera efter behov */
}

.playercard {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 24px; /* Mindre storlek på siffran */
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  width: 50px; /* Justera storleken på knappen */
  height: 50px; /* Justera storleken på knappen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.playercard:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Justera färgen efter behov */
  border: 2px solid #4d68ff; /* Justera färgen på border efter behov */
  transform: scale(1.1); /* Gör kortet lite större vid hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lägg till en skugga för en 3D-effekt */
  cursor: pointer; /* Ändrar pekaren till en hand när man hovrar */
}
